<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <title>易康问答</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/discuss.css">
    <link rel="stylesheet" href="../css/demo-1.css">

</head>
<body>
<!--页面内容-->
<div class="wrap">
    <!--顶部-->
    <div class=" container demo-2">
        <div class="content">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas"></canvas>
            </div>
        </div>
    </div>
    <header class="header">
        <!--顶部通用栏-->
        <div class="currency yk-color">
            <div class="currency-back">
                <a href="x_questionList_1.html" class="fl"><span>&lt;</span>返回</a>
                <div class="yk fl"><span class="">易康问答</span></div>
                <div class="more">
                    <ul class="fr">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!--顶部搜索栏-->
    <!--内容区域-->
    <main>

        <div class="search">
            <form action="">
                <input type="text" class="sea" placeholder="搜索您感兴趣的人和问题吧"/>
                <input type="button" value="搜索" class="button"/>
            </form>
        </div>
        <div class="hang">
            <s>答主</s>
        </div>
        <div class="bankuai">
            <ul>
                <li class="clearfix">
                    <i><img src="../images/005.jpg" alt=""/></i>
                    <div class="wz">
                        <em>清风拂柳<p>&nbsp;&nbsp;|&nbsp;&nbsp;一个在路上追梦的人</p></em>
                    </div>
                    <div class="answer">
                        <s>50个回答&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;42人收听</s>
                    </div>
                </li>
                <li class="clearfix">
                    <i><img src="../images/007.jpg" alt=""/></i>
                    <div class="wz">
                        <em>云上风采<p>&nbsp;&nbsp;|&nbsp;&nbsp;一个人的故事</p></em>
                    </div>
                    <div class="answer">
                        <s>30个回答&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;23人收听</s>
                    </div>
                </li>
                <li class="clearfix">
                    <i><img src="../images/003.jpg" alt=""/></i>
                    <div class="wz">
                        <em>路上行人<p>&nbsp;&nbsp;|&nbsp;&nbsp;十七岁的雨季</p></em>
                    </div>
                    <div class="answer">
                        <s>40个回答&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;22人收听</s>
                    </div>
                </li>
            </ul>
            <div class="any">
                <p>查看更多答主</p>
            </div>
        </div>
        <div class="hang">
            <s>问题</s>
        </div>
        <div class="bankuai2">
            <ul>
                <li>
                    <span>互联网教育是否可以改变教育资源问题?</span><br/>
                    <em>回答:不加V<p>&nbsp;&nbsp;|&nbsp;&nbsp;作家/情感咨询师</p></em>
                </li>
                <li>
                    <span>应否废除应试式教育制度？</span><br/>
                    <em>回答:不加V<p>&nbsp;&nbsp;|&nbsp;&nbsp;作家</p></em>
                </li>
            </ul>
            <div class="any2">
                <p>查看更多答主</p>
            </div>
        </div>
    </main>


    <!--底部导航栏-->
    <div class="footer-nav">
        <ul class='clearfix'>
            <li class="show five">
                <div class="line top"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <a href="../index.html"><i></i>榜单</a>
            </li>
            <li class=" five">
                <div class="line top"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <a href="x_questionList_1.html"><i></i>收听</a>
            </li>
            <li class=" five">
                <div class="line top"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <a href="Hmatter.html"><i></i>发现</a>
            </li>
            <li class=" five">
                <div class="line top"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <a href="M-homepage.html"><i></i>我的</a>
            </li>
        </ul>
    </div>
</div>
<script src="../js/jquery-1.12.2.js"></script>
<script src="../js/common.js"></script>
<script src="../js/discuss.js"></script>
<script src="../js/rAF.js"></script>
<script src="../js/demo-2.js"></script>
</body>
</html>
