<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <title>易康问答</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/erweima.css">
    <link rel="stylesheet" href="../css/demo-1.css">

</head>
<body>
<!--页面内容-->
<div class="wrap">
    <!--顶部-->
    <div class=" container demo-2">
        <div class="content">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas"></canvas>
            </div>
        </div>
    </div>
    <!--顶部-->
    <header class="header">
        <!--顶部通用栏-->
        <div class="currency yk-color">
            <div class="currency-back">
                <a href="M-homepage.html" class="fl"><span>&lt;</span>返回</a>
                <div class="yk fl"><span class="">易康问答</span></div>
                <div class="more">
                    <ul class="fr">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!--顶部搜索栏-->
    <div class="top-search"></div>
    <!--内容区域-->
    <main>
        <div class="box ">
            <div class="content">
                <div class="box2">
                    <img src="../images/ewm.png" alt="" class="animation"/>
                    <div class="sBox clearfix">
                        <em class="fl">
                            <!--<img src="../images/headPortrait.png" alt=""/>-->
                        </em>
                        <div class="wz">
                             <p>Michelle</p>
                            <s>微信扫码，来向我提问吧~</s>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </main>

    <!--底部导航栏-->
    <div class="footer-nav">
        <ul class='clearfix'>
            <li class="show five">
                <div class="line top"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <a href="../index.html"><i></i>榜单</a>
            </li>
            <li class=" five">
                <div class="line top"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <a href="x_questionList_1.html"><i></i>收听</a>
            </li>
            <li class=" five">
                <div class="line top"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <a href="Hmatter.html"><i></i>发现</a>
            </li>
            <li class=" five">
                <div class="line top"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <a href="M-homepage.html"><i></i>我的</a>
            </li>
        </ul>
    </div>
</div>
<script src="../js/rAF.js"></script>
<script src="../js/demo-2.js"></script>
</body>
</html>