<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <title>易康问答</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/ykanswer.css">


</head>
<body>
<!--页面内容-->
<div class="wrap">
    <!--顶部-->
    <header class="header">
        <!--顶部通用栏-->
        <div class="currency yk-color">
            <div class="currency-back">
                <a href="M-homepage.html" class="fl"><span>&lt;</span>返回</a>
                <div class="yk fl">
                    <span class="">易康问答</span>
                    <a href="#"><img src="../images/ball.png" alt=""/></a>
                    <p>Michelle</p>
                </div>
                <div class="more">
                    <ul class="fr">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!--顶部搜索栏-->
    <div class="top-search"></div>
    <!--内容区域-->
    <main>
        <div class="top">
            <div class="renzheng">
                <p><img src="../images/rz.png" alt="" class="rz"/></p>
                <i>我的头衔</i>
            </div>
        </div>
        <div class="bottom">
            <div class="box">
                <form action="">
                    <textarea cols="70%" rows="4" placeholder="请输入您的头衔..." id="textareaOne"></textarea>
                    <div class="text_numA fr"><s>0</s><em>/18</em></div>
                </form>
            </div>
        </div>
        <div class="top">
            <div class="renzheng">
                <p><img src="../images/rz2.png" alt="" class="rz"/ ></p>
                <i>我的介绍</i>
            </div>
        </div>
        <div class="bottom">
            <form action="">
                <textarea  rows="4" placeholder="请输入我的个人简介..." id="textareaTwo" ></textarea>
                <div class="text_num fr"><s>0</s><em>/100</em></div>
            </form>
        </div>
        <div class="one">
            <p>
                <input type="text" class="text"/>
                <s>元</s>
            </p>
                <i>向我提问需要支付</i>
    </div>
        <div class="one ">
            <i >接受免费追问</i>
            <div class="track">
                <span>
                    <p></p>
                </span>

        </div>
    </main>


    <script src="../js/jquery-1.12.2.js"></script>
    <script src="../js/ykanswer.js"></script>
</body>
</html>