<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0"/>
    <title>易康问答</title>
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/matt.css"/>
    <link rel="stylesheet" href="../css/demo-1.css">

</head>
<body>
<!--页面内容-->
<div class="wrap">
    <!--顶部-->
    <div class=" container demo-2">
        <div class="content">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas"></canvas>
            </div>
        </div>
    </div>
    <header class="header">
        <!--顶部通用栏-->
        <div class="currency yk-color">
            <div class="currency-back">
                <a href="Hmatter.html" class="fl"><span>&lt;</span>返回</a>
                <div class="yk fl"><span class="">易康问答</span></div>
                <div class="more">
                    <ul class="fr">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!--导航栏-->
    <nav class="yk_nav">
        <ul class="clearfix">
            <li><a href="#">人物</a></li>
            <li class="action"><a href="#">问题</a></li>
        </ul>
    </nav>
    <!--主题内容-->
    <div class="yk_content">
        <div class="yk_content_trou">
            <ul>
                <li class="yk_trouble_box">
                    <a href="Htrouble.html" class="icon_tit"></a>
                    <div class="info">
                        <p>高血压相关问题</p>
                        <p>关于高血压的相关热门问题</p>
                    </div>
                    <div class="info_num">
                        <a href="#" class="message"></a>
                        <span>37</span>
                    </div>
                </li>
                <li class="yk_trouble_box">
                    <a href="#" class="icon_tit"></a>
                    <div class="info">
                        <p>高血压相关问题</p>
                        <p>关于高血压的相关热门问题</p>
                    </div>
                    <div class="info_num">
                        <a href="#" class="message"></a>
                        <span>37</span>
                    </div>
                </li>
                <li class="yk_trouble_box">
                    <a href="#" class="icon_tit"></a>
                    <div class="info">
                        <p>高血压相关问题</p>
                        <p>关于高血压的相关热门问题</p>
                    </div>
                    <div class="info_num">
                        <a href="#" class="message"></a>
                        <span>37</span>
                    </div>
                </li>
            </ul>
        </div>
        <p class="text">热门推荐</p>
        <div class="yk_content_info">
            <div class="yk_trouble_b">
                <p>心电图真的可以诊断心房二度伴得奖的建立科技耳机俄外交
                </p>
                <div class="trouble_info clearfix">
                    <div class="info_name fl">
                        <span class="name">张三丰</span>
                        <span class="time">9天前</span>
                    </div>
                    <div class="info_icon fr">
                        <span class="listen">5</span>
                        <span class="assist">5</span>
                    </div>
                </div>
            </div>
            <div class="yk_trouble_b">
                <p>心电图真的可以诊断心房二度伴得奖的建立科技耳机俄外交
                </p>
                <div class="trouble_info clearfix">
                    <div class="info_name fl">
                        <span class="name">张三丰</span>
                        <span class="time">9天前</span>
                    </div>
                    <div class="info_icon fr">
                        <span class="listen">5</span>
                        <span class="assist">5</span>
                    </div>
                </div>
            </div>
            <div class="yk_trouble_b">
                <p>心电图真的可以诊断心房二度伴得奖的建立科技耳机俄外交
                </p>
                <div class="trouble_info clearfix">
                    <div class="info_name fl">
                        <span class="name">张三丰</span>
                        <span class="time">9天前</span>
                    </div>
                    <div class="info_icon fr">
                        <span class="listen">5</span>
                        <span class="assist">5</span>
                    </div>
                </div>
            </div>  <div class="yk_trouble_b">
                <p>心电图真的可以诊断心房二度伴得奖的建立科技耳机俄外交
                </p>
                <div class="trouble_info clearfix">
                    <div class="info_name fl">
                        <span class="name">张三丰</span>
                        <span class="time">9天前</span>
                    </div>
                    <div class="info_icon fr">
                        <span class="listen">5</span>
                        <span class="assist">5</span>
                    </div>
                </div>
            </div>
            <div class="yk_trouble_b">
                <p>心电图真的可以诊断心房二度伴得奖的建立科技耳机俄外交
                </p>
                <div class="trouble_info clearfix">
                    <div class="info_name fl">
                        <span class="name">张三丰</span>
                        <span class="time">9天前</span>
                    </div>
                    <div class="info_icon fr">
                        <span class="listen">5</span>
                        <span class="assist">5</span>
                    </div>
                </div>
            </div>
            <div class="yk_trouble_b">
                <p>心电图真的可以诊断心房二度伴得奖的建立科技耳机俄外交
                </p>
                <div class="trouble_info clearfix">
                    <div class="info_name fl">
                        <span class="name">张三丰</span>
                        <span class="time">9天前</span>
                    </div>
                    <div class="info_icon fr">
                        <span class="listen">5</span>
                        <span class="assist">5</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--底部导航栏-->
    <div class="footer-nav">
        <ul class='clearfix'>
            <li class="show five">
                <div class="line top"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <a href="../index.html"><i></i>榜单</a>
            </li>
            <li class=" five">
                <div class="line top"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <a href="x_questionList_1.html"><i></i>收听</a>
            </li>
            <li class=" five">
                <div class="line top"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <a href="Hmatter.html"><i></i>发现</a>
            </li>
            <li class=" five">
                <div class="line top"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <a href="M-homepage.html"><i></i>我的</a>
            </li>
        </ul>
    </div>
</div>
<script src="../js/rAF.js"></script>
<script src="../js/demo-2.js"></script>
</body>
</html>