<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <title>易康问答</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/quizDetails.css">
    <link rel="stylesheet" href="../css/demo-1.css">
    <script src="../js/quizDetails.js"></script>

</head>
<body>
<!--页面内容-->
<div class="wrap">
    <!--顶部-->
    <div class=" container demo-2">
        <div class="content">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas"></canvas>
            </div>
        </div>
    </div>
    <header class="header">
        <!--顶部通用栏-->
        <div class="currency yk-color">
            <div class="currency-back">
                <a href="#" class="fl"><span>&lt;</span>返回</a>
                <div class="yk fl"><span class="">易康问答</span></div>
                <div class="more">
                    <ul class="fr">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!--顶部头像start-->
    <div class="top-portrait">
        <div class="portrait"><span></span></div>
        <div class="portrait-name">Michelle</div>
        <div class="type">英语教师<i></i><em>0</em>人收听</div>
        <div class="cont">“解答相关英语学习问题及语言类学习问题”</div>
    </div>
    <!--顶部头像end-->

    <!--内容区域-->
    <main>
        <div class="main-top-cont">
            <div class="">超过48小时未回答，将全额退款</div>
            <div class="">￥20</div>
        </div>
        <form action="#">
            <textarea placeholder="向他提问"></textarea>
            <div class="text-num fr"><span>0</span>/60</div>
            <div class="Main-Checked"><a href="#" class="checkboxT"></a><span>答案被公开，答案每被偷偷听一次，你从中分成0.5</span></div>
            <input type="submit" value="提问">
        </form>
        <div class="main-cccBox clearfix">
            <div class="fl">回答了1个问题，总收入0元</div>
            <div class="fr">
                <span>最新</span>
                <span>默认</span>
            </div>
        </div>
        <div class="main-bottomBox">
            <div class="main-portrait fl"></div>
            <div class="main-bottom-cont">
                <h5>如何学习语文的文言文内容，快速提高语文成绩？</h5>
                <span>王知易</span>
                <span>英语文学语言老师</span>
            </div>

        </div>
    </main>
    <!--底部导航栏-->
    <!--<footer class="footer">-->

    <!--</footer>-->

    <div class="footer-nav">
        <ul class='clearfix'>
            <li class=" five">
                <div class="line top"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <a href="#"><i></i>榜单</a>
            </li>
            <li class="show five">
                <div class="line top"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <a href="#"><i></i>收听</a>
            </li>
            <li class=" five">
                <div class="line top"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <a href="#"><i></i>发现</a>
            </li>
            <li class=" five">
                <div class="line top"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <a href="#"><i></i>我的</a>
            </li>
        </ul>
    </div>
</div>

<script src="../js/rAF.js"></script>
<script src="../js/demo-2.js"></script>
</body>
</html>