<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <title>个人主页</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/M-css.css">
    <script src="../js/index-1.js"></script>
</head>
<body>
<!--页面内容-->
<div class="wrap" id="leafContainer">

        <!--顶部-->
        <header class="header">
            <!--顶部通用栏-->
            <div class="yk-color">
                <!--资料 个人主页-->
                <div class="date">
                    <a href="C-erweima.html" class="date-ewm fl"></a>
                    <div class="top-portrait">
                        <div class="portrait"><span></span></div>
                        <div class="portrait-name">齐天大圣</div>
                        <div class="type">花果山老大 <i class=""></i><em>0</em>人收听</div>
                        <div class="cont">大圣 此去欲何 踏南天 碎凌霄 若一去不回:便一去不回!</div>
                    </div>
                    <a href="C-ykanswer.html" class="date-more fr"></a>
                </div>
            </div>
        </header>
        <!--内容区域-->
        <main>
            <div class="main">
                <div class="problem">
                    <div class="problem-1">
                        <a href="javascript:;">
                            <span>我的优问</span>
                            <span>&gt;</span>
                        </a>
                    </div>
                    <div class="problem-2">
                        <a href="Z-voicePage.html">
                            <span>我的提问</span>
                            <span>&gt;</span>
                        </a>
                    </div>
                </div>
                <div class="problem">
                    <div class="problem-1">
                        <a href="Z-clickPage.html">
                            <span>我的回答</span>
                            <span>&gt;</span>
                        </a>
                    </div>
                    <div class="problem-2">
                        <a href="javascript:;">
                            <span>热门问题</span>
                            <span>&gt;</span>
                        </a>
                    </div>
                </div>
                <div class="problem">
                    <div class="problem-1">
                        <a href="javascript:;">
                            <span>关于我</span>
                            <span>&gt;</span>
                            <span></span>
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <!--底部导航栏-->
<div class="footer-nav">
    <ul class='clearfix'>
        <li class=" five">
            <div class="line top"></div>
            <div class="line bottom"></div>
            <div class="line left"></div>
            <div class="line right"></div>
            <a href="../index.html"><i></i>榜单</a>
        </li>
        <li class=" five">
            <div class="line top"></div>
            <div class="line bottom"></div>
            <div class="line left"></div>
            <div class="line right"></div>
            <a href="x_questionList_1.html"><i></i>收听</a>
        </li>
        <li class=" five">
            <div class="line top"></div>
            <div class="line bottom"></div>
            <div class="line left"></div>
            <div class="line right"></div>
            <a href="Hmatter.html"><i></i>发现</a>
        </li>
        <li class="show five">
            <div class="line top"></div>
            <div class="line bottom"></div>
            <div class="line left"></div>
            <div class="line right"></div>
            <a href="M-homepage.html"><i></i>我的</a>
        </li>
    </ul>
</div>
</body>
</html>