<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <title>易康问答</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/demo.css">
    <link rel="stylesheet" href="../css/M-css.css">
    <script src="../js/swipe.js"></script>
    <script src="../js/M-problem.js"></script>
    <script src="../js/index-1.js"></script>
</head>
<body>
<!--页面内容-->
<div class="wrap p-wrap" id="leafContainer">
    <!--顶部-->
    <header class="header">
        <!--顶部通用栏-->
        <div class="currency yk-color">
            <div class="currency-back">
                <a href="#" class="fl"><span>&lt;</span>返回</a>
                <div class="yk fl"><span class="">易康问答</span></div>
                <div class="more">
                    <ul class="fr">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!--main 上面的导航-->
    <ul class="main-banner clearfix">
        <li class="pull-left show"><a href="#" class="border-right">问题榜</a></li>
        <li class="pull-left"><a href="#" class="border-right">新晋榜</a></li>
        <li class="pull-left "><a href="#">才华榜<i class=""></i></a></li>
    </ul>
    <!--内容区域-->
    <main class="p-main">
        <div class="p-swiper">
            <div class="p-banner container demo-2">
                <div class="content">
                    <div id="large-header" class="large-header">
                        <canvas id="demo-canvas"></canvas>
                    </div>
                </div>
            </div>

            <div class="p-preblem">
                <a href="#"><span>大圣 此去欲何 踏南天 碎凌霄 若一去不回:便一去不回！</span><br><span class='swk'>花果山 | 齐天大圣孙悟空</span></a>
                <div class="swk-head"><a href="#"></a><span></span> <span>999人听过</span></div>
            </div>
            <div class="p-preblem">
                <a href="#"><span>大圣 此去欲何 踏南天 碎凌霄 若一去不回:便一去不回!</span><br><span class='swk'>花果山 | 齐天大圣孙悟空</span></a>
                <div class="swk-head"><a href="#"></a><span></span> <span>999人听过</span></div>
            </div>
        </div>

    </main>
    <!--&lt;!&ndash;底部导航栏&ndash;&gt;-->

    <div class="footer-nav">
        <ul class='clearfix'>
            <li class="show five">
                <div class="line top"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <a href="#"><i></i>榜单</a>
            </li>
            <li class=" five">
                <div class="line top"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <a href="#"><i></i>收听</a>
            </li>
            <li class=" five">
                <div class="line top"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <a href="#"><i></i>发现</a>
            </li>
            <li class=" five">
                <div class="line top"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <a href="#"><i></i>我的</a>
            </li>
        </ul>
    </div>
</div>
<script src="../js/rAF.js"></script>
<script src="../js/demo-2.js"></script>
</body>
</html>