<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <title>易康问答</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/x_questionList_2.css"/>
    <link rel="stylesheet" href="../css/demo-1.css">

</head>
<body>
<!--页面内容-->
<div class="wrap">
    <!--顶部-->
    <div class=" container demo-2">
        <div class="content">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas"></canvas>
            </div>
        </div>
    </div>
<header class="header">
    <!--顶部通用栏-->
    <div class="currency yk-color">
        <div class="currency-back">
            <a href="#" class="fl"><span>&lt;</span>返回</a>
            <div class="yk fl"><span class="">易康问答</span></div>
            <div class="more">
                <ul class="fr">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!--顶部搜索栏-->
<div class="top-search">
    <div class="x_search">
        <a href="x_questionList_1.html">最新问题</a>
        <a href="javascript:;" class="show">收听列表</a>
        <a href="C-discuss.html"></a>
    </div>

</div>
<!--内容区域-->
<main>
    <div class="x_content clearfix">
        <i class="x_head fl"></i>
        <div class="fl">
            <h3>特朗普</h3>
            <span>高级段子手</span>
            <span class="x_info">
                        <i></i>
                        <s>35</s>个回答&nbsp;
                        <i></i>
                        <s>4772</s>人收听
                    </span>
        </div>
        <div class="fr x_listen"><a href="javascript:;"><i></i> 收听</a></div>
    </div>
    <div class="x_content clearfix">
        <i class="x_head fl"></i>
        <div class="fl">
            <h3>特朗普</h3>
            <span>高级段子手</span>
            <span class="x_info">
                        <i></i>
                        <s>35</s>个回答&nbsp;
                        <i></i>
                        <s>4772</s>人收听
                    </span>
        </div>
        <div class="fr x_listen"><a href="javascript:;"><i></i> 收听</a></div>
    </div>
    <div class="x_content clearfix">
        <i class="x_head fl"></i>
        <div class="fl">
            <h3>特朗普</h3>
            <span>高级段子手</span>
            <span class="x_info">
                        <i></i>
                        <s>35</s>个回答&nbsp;
                        <i></i>
                        <s>4772</s>人收听
                    </span>
        </div>
        <div class="fr x_listen"><a href="javascript:;"><i></i> 收听</a></div>
    </div>
    <div class="x_content clearfix">
        <i class="x_head fl"></i>
        <div class="fl">
            <h3>特朗普</h3>
            <span>高级段子手</span>
            <span class="x_info">
                        <i></i>
                        <s>35</s>个回答&nbsp;
                        <i></i>
                        <s>4772</s>人收听
                    </span>
        </div>
        <div class="fr x_listen"><a href="javascript:;"><i></i> 收听</a></div>
    </div>
    <div class="x_content clearfix">
        <i class="x_head fl"></i>
        <div class="fl">
            <h3>特朗普</h3>
            <span>高级段子手</span>
            <span class="x_info">
                        <i></i>
                        <s>35</s>个回答&nbsp;
                        <i></i>
                        <s>4772</s>人收听
                    </span>
        </div>
        <div class="fr x_listen"><a href="javascript:;"><i></i> 收听</a></div>
    </div>
</main>
<!--底部导航栏-->
    <div class="footer-nav">
        <ul class='clearfix'>
            <li class=" five">
                <div class="line top"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <a href="../index.html"><i></i>榜单</a>
            </li>
            <li class="show five">
                <div class="line top"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <a href="#"><i></i>收听</a>
            </li>
            <li class=" five">
                <div class="line top"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <a href="Hmatter.html"><i></i>发现</a>
            </li>
            <li class=" five">
                <div class="line top"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <a href="M-homepage.html"><i></i>我的</a>
            </li>
        </ul>
    </div>
</div>
<script src="../js/rAF.js"></script>
<script src="../js/demo-2.js"></script>
</body>
</html>