<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <title>易康问答</title>
    <link href="../lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/demo-1.css">
    <link rel="stylesheet" href="../css/click-page.css">
    <!--[if lt IE 9]>
    <script src="../lib/html5shiv/html5shiv.min.js"></script>
    <script src="../lib/respond/respond.js"></script>
    <![endif]-->
    <!--<script src="../js/index.js"></script>-->

</head>
<body>
<!--页面内容-->
<div class="wrap">
    <!--顶部-->
    <div class=" container demo-2">
        <div class="content">
            <div id="large-header" class="large-header">
                <canvas id="demo-canvas"></canvas>
            </div>
        </div>
    </div>
    <header class="header">
        <!--顶部通用栏-->
        <div class="currency yk-color">
            <div class="currency-back">
                <a href="M-homepage.html" class="fl"><span>&lt;</span>返回</a>

                <div class="yk fl"><span class="">易康问答</span></div>
                <div class="more">
                    <ul class="fr">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!--顶部栏-->
    <div class="top-answers">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#home">回答的问题</a></li>
            <li><a href="#profile">追问的问题</a></li>
        </ul>
    </div>
    <!--内容区域-->
    <main>
        <div class="tab-content">
            <div class="tab-pane active" id="home">
                <div class="one-people">
                    <span></span>
                    <span>KOBE</span>
                    <span>已回答</span>
                    <p>如何再拿一座拉里·奥布莱恩冠军奖杯？</p>
                    <span class="glyphicon glyphicon-time alarm"></span>
                    <span>九天前</span>
                </div>
                <div class="one-people">
                    <span></span>
                    <span>BRYANT</span>
                    <span>已回答</span>
                    <p>再砍81分</p>
                    <span class="glyphicon glyphicon-time alarm"></span>
                    <span>九天前</span>
                </div>
            </div>
            <div class="tab-pane" id="profile">
                <div class="one-people bryant">
                    <span></span>
                    <span>Kobe Bryant</span>
                    <span>待回答</span>
                    <p>Brother，see you again</p>
                    <span class="alarm">原问题：你咋了</span>
                    <span>刚刚</span>
                </div>
            </div>
        </div>
    </main>
    <!--底部导航栏-->
    <div class="footer-nav">
        <ul class='clearfix'>
            <li class=" five">
                <div class="line top"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <a href="../index.html"><i></i>榜单</a>
            </li>
            <li class=" five">
                <div class="line top"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <a href="x_questionList_1.html"><i></i>收听</a>
            </li>
            <li class=" five">
                <div class="line top"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <a href="Hmatter.html"><i></i>发现</a>
            </li>
            <li class="show five">
                <div class="line top"></div>
                <div class="line bottom"></div>
                <div class="line left"></div>
                <div class="line right"></div>
                <a href="M-homepage.html"><i></i>我的</a>
            </li>
        </ul>
    </div>
</div>
<script src="../lib/jquery/jquery.js"></script>
<!-- js 核心文件-->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="../lib/bootstrap/js/bootstrap.js"></script>
<!--<script>-->
    <!--$(function () {-->
        <!--$('#myTab a').click(function (e) {-->
            <!--e.preventDefault();-->
            <!--$(this).tab('show');-->
        <!--})-->
    <!--})-->
<!--</script>-->

<script src="../js/rAF.js"></script>
<script src="../js/demo-2.js"></script>
</body>
</html>