@charset "utf-8";


.warp {
    overflow-x:hidden;
}
/*顶部搜索栏start*/
.top-search {
    /*height: 10%;*/
    background-color: #fff;
}

.top-search form {
    padding: 1vw 3vw;
}

.top-search form input {
    height: 50px;
    border-radius: 6px;
}

.top-search form input[type="search"] {
    width: 77%;
    border: 1px solid rgb(221, 221, 221);
    float: left;
    text-indent: 2vw;
    font-size: 3vw;
}

.top-search form input[type="button"] {
    width: 20%;
    float: right;
    font-size: 3vw;
    color: #fff;
    background-color: #44b181;
}

/*顶部搜索栏end*/

/*内容区域start*/
#nullalert {
    display:none;
    text-align: center;
    padding-top: 20%;
    animation: MainRZ 2s;
}

@keyframes MainRZ {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }
    100% {
        opacity: 1;
        transform: rotate(720deg);
    }
}

main img{
    width: 112px;
    transform: translateY(-3000px);
    animation: IMGrotate 5s 2s forwards;
}

@keyframes IMGrotate {

    0% {
        transform: translateY(-3000px);
    }
    10% {
        transform: translateY(20px);
    }
    15% {
        transform: translateY(-15px);
    }
    20% {
        transform: translateY(10px);
    }
    25% {
        transform: translateY(-5px);
    }
    30% {
        transform: translateY(0px);
    }
    35% {
        transform: rotate(-66deg);
    }
    40% {
        transform: rotate(55deg);
    }
    45% {
        transform: rotate(-40deg);
    }

    50% {
        transform: rotate(35deg);
    }
    55% {
        transform: rotate(-20deg);
    }
    60% {
        transform: rotate(10deg);
    }
    65% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }

}

main h4 {
    margin: 5% 0;
    font-size: 3vw;
}

main a {
    display: inline-block;
    width: 150px;
    height: 50px;
    font-size: 5vw;
    font-weight: 800;
    color: #fff;
    line-height: 50px;
    background-color: #44b181;
    border-radius: 10px;
}


main a:visited {
    color: #fff;
}

/*内容区域end*/

/*搜索内容*/
#searchcontent{
    overflow:auto;
    height: 477px;
    width: 103%;
    padding-right:19px;
}
.main-bottom-cont {
    overflow: hidden;
    padding:15px;
    margin: 8px;
    box-shadow: 2px 2px 2px  #ccc;
}

.main-bottom-cont h5 {
    color: #666;
    margin-bottom: 0;
    margin-top:0;
    font:18px "microsoft yahei";
    font-weight: lighter;
    word-wrap : break-word;
    word-break:break-all;
    padding:10px 0;
}
.main-bottom-cont i {
    font-size: 10px;
}
.main-bottom-cont .messageRed{
    text-align: right;
    padding-right: 60px;
}
.main-bottom-cont  span{
    padding: 0 0px ;
    font:10px "microsoft yahei";
    color:#c7254e;
    font-weight: lighter;

}

.main-bottom-cont  span:nth-of-type(1) {
}
.main-bottom-cont  span:nth-of-type(2){
}
.messagebox {
    width: 80%;
    margin-left: 5%;

}
.headpicSbox {
    width: 10%;
    text-align: center;
}
.wrap {
    background-color: #fff;
    height: 100%;

}


.head {
    background-color:#44b181;
    width: 100%;
    text-align: center;
    margin-top: -1px;
}
.head>p {
    text-align: center;
    margin:0;
    color:#fff;
}
#headpic {
    width: 80px;
    height: 80px;
    margin:0 auto;
    border:1px solid #e0e0e0;
    border-radius: 50%;
    overflow: hidden;
}
#headpic img {
    width: 100%;
    height: 100%;
}

#myQ {
    margin-top: 10px;
}

#smallhead{
    width: 100%;
    height: 30px;
    float: left;
    margin-right:10px;
}

/*
问题版设置
*/

.messageModle {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}
a{text-decoration: none !important}
.submitSuccess{
    margin-top: 50px;
}

#smallhead {
    border-radius: 50%;
}

#messageTitle {
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    border: 1px solid rgb(221,221,221);
    color:#666;
    font:14px "microsoft yahei";
    margin:3px 0;
}
#title{
    margin: 0;
    padding: 0;
    font:18px "simsun";
    color:#666;
}